

.button {
    position: relative;
    display: inline-block;
    color: #202024;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.3);
    border-radius: 300px;
    padding: 8px 24px 8px 24px;
    transition: all 0.25s;
    vertical-align: top;
    margin-right: 10px;
}

    .button:hover {
        background-color: rgba(255,255,255,0.6);
    }

.button-readmore {
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    border-radius: 300px;
    border: 1px solid rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.3);
    height: 44px;
    width: 44px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.35s;
}

    .button-readmore:hover {
        width: 159px;
        border: 1px solid #fff;
        color: #fff;
    }

    .button-readmore span {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 37px;
        width: 159px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        transition: left 0.25s;
    }

    .button-readmore:hover span {
        left: 0;
    }

    .button-readmore:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "...";
        display: block;
        height: 44px;
        width: 44px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        transition: left 0.35s;
    }

    .button-readmore:hover:before {
        left: -37px;
    }
